.normal {
  background-color: #f4e041;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  &:hover {
    background-color: #ffe302;
  }
}
