.users_container {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 140px;
}

.users_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 50px;
  text-align: center;
}

.users_list {
  margin-bottom: 50px;
}

.standard_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4e041;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 120px;
  &:hover {
    background-color: #ffe302;
  }
  & > span {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.87);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 7px solid #00bdd3;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
