.card_container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.card_container:last-child {
  margin-bottom: 0px;
}

.user_photo {
  border-radius: 90px;
  margin-bottom: 20px;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user_name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 20px;
  margin-right: 20px;
}

.user_position {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 20px;
  margin-right: 20px;
}

.user_email {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // margin-left: 20px;
  // margin-right: 20px;
}

.user_email_link {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.user_phone {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);

  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
