.submit_container {
  margin-right: 16px;
  margin-left: 16px;
}

.usersubmit_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 50px;
}

.usersubmit_input {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7e7e7e;
  margin-bottom: 50px;

  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: inherit;

  border: 1px solid #d0cfcf;
  border-radius: 4px;
}

.position_choice {
  & .position_container:last-child {
    margin-bottom: 50px;
  }
}

.submit_button {
  background-color: #f4e041;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: #ffe302;
  }
}

.test_form {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  & input:nth-child(3) {
    margin-bottom: 4px;
  }
}

.phone_format {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7e7e7e;
  margin-left: 16px;
  margin-bottom: 25px;
}

.position_heading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 11px;
}

.position_container {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
  & input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #00bdd3;
    border-radius: 50%;
    background-clip: content-box;
    padding: 4px;
    margin-right: 12px;
    &:checked {
      background-color: #00bdd3;
    }
  }
}

// input[type="radio"] {
//   background-color: red;
// }

.photo_input {
  width: 100%;
  opacity: 0;
  height: 54px;
  position: absolute;
}

.file_label {
  border-radius: 4px;
  margin-bottom: 50px;
  height: 54px;
  position: relative;
  z-index: 2;
}

.file_input_area {
  height: 30px;
  margin-bottom: 10px;
  height: 54px;
  display: flex;
}

.file_input_button {
  width: 83px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file_input_name {
  flex-grow: 1;
  margin-left: -1px;
  height: 100%;
  border-radius: 0px 4px 4px 0px;

  border: 1px solid #d0cfcf;
  display: flex;
  align-items: center;
  padding-left: 16px;
  z-index: -1;
}

.file_input_button_span {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.file_input_file_name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7e7e7e;
}

// ===

.container {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  // font-family: "Nunito";
  // font-style: normal;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 26px;
  // color: #7e7e7e;
}
.did_floating_label_content {
  position: relative;
  margin-bottom: 50px;
  &:nth-child(3) {
    margin-bottom: 4px;
  }
}
.did_floating_label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7e7e7e;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 14px;
  padding: 0 5px;
  background: #f8f8f8;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.did_floating_input {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  width: 100%;
  height: 54px;
  padding: 0 16px;
  background: #f8f8f8;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    ~ .did_floating_label {
      left: 12px;
      top: -8px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #7e7e7e;
    }
  }
}

.did_floating_input:not(:placeholder-shown) ~ .did_floating_label {
  left: 12px;
  top: -8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7e7e7e;
}
