.logo {
  width: 104px;
  height: 24px;
  margin-left: 16px;
}

.button_group {
  margin-right: 16px;
  margin-left: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}

.button_group button:first-child {
  margin-right: 10px;
}

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.standard_button {
  background-color: #f4e041;
  border: none;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  &:hover {
    background-color: #ffe302;
  }
}
